<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>
  </head>
<body>
    <h1>Data Student</h1>
    <h4><a href="/subject/add">add Subject</a></h4>
    <table>
        <thead>
            <tr>
              <th>No</th>
              <th>Subject Name</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <% dataSubject.forEach(data =>{ %>
               <tr>
                   <td><%= data.id %></td>
                   <td><%= data.subject_name %></td>
                   <td><a href="/subject/edit/:id">edit</a> <br>
                       <a href="/subject/delete/:id">delete</a>
                   </td>
               </tr>
          <% }) %>
        </tbody>

        
      </table>
</body>
</html>