<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Subject Page</title>
</head>
<body>
    <h1 style="text-align: center">Add Subject Data</h1>
    <a href="/subjects"><h3 style="text-align: center">Show All Data</h3></a>
    <form action="/subjects/add" method="post">
        <div>
            <label for="subject_name">Subject Name :</label>
            <input type="text" name="subject_name">
        </div>
        <br>
        <button>Add Subject</button>
    </form>
</body>
</html>