<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add students</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/custom.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="title">
                <p>add students</p>
            </div>
        </header>

        <div id="table-form">
            <form action="/addstudents" method="POST">
                <label>First Name
                    <input type="text" name="first_name">
                </label>

                <label>Last Name
                    <input type="text" name="last_name">
                </label>

                <label>Email
                    <input type="email" name="email">
                </label>

                <input type="submit" class="submitadd" name="submit" value="SUBMIT">
            </form>
        </div>
    </div>
</body>
</html>