<!DOCTYPE html>
<html>
<head>
	<title>Add Subject</title>
</head>
<body>
	<h1>Add Subject</h1>

	<form action="/subjects/addSubject" method="post">
  		Subject Name:<br>
  		<input type="text" name="subject_name" required>
  		<br><br>
 		<input type="submit" value="Add Subject">
	</form>
	<p><a href="/subjects"> back </a></p> 
</body>
</html>