<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Register Student</h1>
    <form action="/students/add" method="post">
        <h3>First Name</h3>
        <input type="name" name="firstName" placeholder="first name">
        <h3>Last Name</h3>
        <input type="name" name="lastName" placeholder="last name">
        <h3>Email</h3>
        <input type="name" name="email" placeholder="example@mail.com">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>