<!DOCTYPE html>
<html>
<head>
	<title>Add Teacher</title>
</head>
<body>
	<h1>Add Teacher</h1>

	<form action="/teachers/addTeacher" method="post">
  		First name:<br>
  		<input type="text" name="first_name" required>
  		<br>
  		Last name:<br>
  		<input type="text" name="last_name" required>
  		<br>
  		Email:<br>
  		<input type="text" name="Email" required>
  		<br><br>
 		<input type="submit" value="Add Teacher">
	</form>
	<p><a href="/teachers"> back </a></p> 
</body>
</html>