<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/custom.css">
</head>
<body>
    
        <div id="container">
            <div id="table-form">
                <form action="/editTc" method="POST">
                    <label>First Name
                        <input type="text" class="updateStudent" name="id" value="<%= x.id%>" style="display: none;">
                        <input type="text" class="updateStudent" name="first_name" value="<%= x.first_name%>">
                    </label>
    
                    <label>Last Name
                        <input type="text" class="updateStudent" name="last_name" value="<%= x.last_name%>">
                    </label>
    
                    <label>Email
                        <input type="email" class="updateStudent" name="email" value="<%= x.email%>">
                    </label>
                    <input type="submit" class="submitUpdate" name="submit" value="CHANGE">
                </form>
            </div>
        </div>
        
</body>
</html>