<!DOCTYPE html>
<html>
<head>
  <title>Edit Students</title>
</head>
<body>
  <h1>Edit Student</h1>
	<form action='/students/editStudent/<%= student.id %>' method="post">
  		First name:<br>
  		<input type="text" name="first_name">
  		<br>
  		Last name:<br>
  		<input type="text" name="last_name">
      <br>
  		Email:<br>
  		<input type="text" name="email">
  		<br><br>
  		<input type="submit" value="Edit Student">
	</form>
  <p><a href="/students">back</a></p> 
</body>
</html>


