<!DOCTYPE html>
<html>
<head>
  <title>Edit Subject</title>
</head>
<body>
  <h1>Edit Subject</h1>

  <form action="/subjects/editSubject/<%=dataSubject.id %>" method="post">
      Subject Name:<br>
      <input type="text" name="subject_name" required>
      <br><br>
    <input type="submit" value="Edit Subject" >
  </form>
  <p><a href="/subjects"> back </a></p> 
</body>
</html>