<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>
  <style>
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button2 {background-color: #008CBA;} /* Blue */
  </style>
</head>
<body>
  <center>
    <h1>Welcome To Academy System Information</h1>
    <img src="https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1482132470/vfmmn0twb17nn2epblee.png"><br>
    <a href="/student" class="button">Student</a>
    <a href="/teacher" class="button button2">Teacher</a>
    <a href="/subject" class="button">Subject</a>
    <br>
    <a href="/student/add" class="button">Add Student</a>
    <a href="/teacher/add" class="button button2">Add Teacher</a>
    <a href="/subject/add" class="button">Add Subject</a>
  </center>
  
</body>
</html>