<!DOCTYPE html>
<html>
<head>
  <title>Buitenzorg School</title>
</head>
<body>
  <h1> School Data</h1>
	 <ul>
    <li><a href="/students">Students Data</a></li>
    <li><a href="/teachers">Teachers Data</a></li>
    <li><a href="/subjects">Subject Data</a></li>
   <ul>   
</body>
</html>
