<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

        .row.content {
            height: 450px
        }

        /* Set gray background color and 100% height */

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */

        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {
                height: auto;
            }
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="./khodhiSpace.jpg" alt="Smiley face" height="50" width="50">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/uberFoxSchool">Home</a>
                    </li>
                    <li>
                        <a href="/uberFoxSchool/teachers">Teachers</a>
                    </li>
                    <li>
                        <a href="/uberFoxSchool/students">Students</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

            </div>
            <div class="col-sm-8 text-left">
                <h1>
                    <center>Welcome To Uber Fox</center>
                </h1>
                <br>
                <br>
                <br>
                <center>
                    <table style="width:70%">
                        <tr>

                            <th>
                                <center>Firstname</center>
                            </th>
                            <th>
                                <center>Lastname</center>
                            </th>
                            <th>
                                <center>Student Id</center>
                            </th>
                            <% students.forEach( student => {%>
                        </tr>
                        <tr>

                            <td>
                                <center>
                                    <%= student.dataValues.first_name %>
                                </center>

                            </td>

                            <td>
                                <center>
                                    <%= student.dataValues.last_name %>
                                </center>
                            </td>
                            <td>
                                <center>
                                    <%= student.dataValues.id %>
                                </center>
                            </td>
                            <% }) %>
                    </table>

                </center>

              
                <h4>DELETE DATA</h4>
                <form action="/students/delete/:id" method="post" id="form1">
                    Student Id : <input type='text' name='id'>
                    
                    <button type="submit" form="form1" value="Delete">Delete</button>
                    <br>
                
            </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
    </div>

</body>

</html>