<!DOCTYPE html>
<html>
<head>
  <title>Subjects List</title>
</head>
<body>
	<h1>Subjects List</h1>
	<p><a href= "/subjects/addSubject">Add Subject</a></p>
	<table>
  		<tr>
    		<th>Subject Name</th>
  		</tr>
  			<% for(var i=0; i < dataSubjects.length; i++) { %>
  		<tr>
   			<td><%= dataSubjects[i].subject_name %></td>
    		<td><a href='/subjects/editSubject/<%= dataSubjects[i].id %>'>edit</a>|<a href = '/subjects/<%= dataSubjects[i].id %>' onclick="return confirm('delete this subject?')" > delete </a></td>
  		</tr>
  			<% } %>
</table>
	<p><a href="/">back</a></p>		
</body>
</html>

